<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xome.aparamasi.cab_track">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="net.simplifiedcoding.androidgcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="net.simplifiedcoding.androidgcm.permission.C2D_MESSAGE" />

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/xomepic"
        android:label="Cab-Track"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCAPglhZHfcGaU8pteeQVhTsFgpl-36368" />

        <activity android:name=".SinginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".SettingsActivity" android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".QRActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".WelcomeActivity" android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--             GCM Receiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.gnirt69.gcmexample" />
            </intent-filter>
        </receiver>

        <!--             GCM Receiver Service -->
        <service
            android:name=".GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!--             GCM Registration Intent Service -->
        <service
            android:name=".GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name=".DriverActivity"
            android:label="@string/title_activity_driver"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>